<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Тест</title>
</head>
<body>
  <section>
  <h1 align="center" th:utext = "${pageDTO.title}"></h1>
  <h3 th:utext = "'<i>' + ${pageDTO.instruction} + '</i>'"></h3>
  <h3 th:utext = "${pageDTO.questionText}"></h3>
  <form method="POST" th:action="@{'/student/answer'}">
      <input type="text" name="answerText" placeholder="введите ответ" autofocus autocomplete="off"><br>
      <input type="hidden" name="questionId" th:value="${pageDTO.questionId}">
      <input type="hidden" name="studentId" th:value="${pageDTO.studentId}">
      <br>
      <button type="submit">Ответить</button>
  </form>
  <font color="gray">
    <h3 th:utext = "'Ученик: ' + ${pageDTO.studentName}">Ученик:</h3>
    <h3 th:utext = "'Всего ответов: ' + ${pageDTO.answersCount}">Всего ответов:</h3>
    <h3 th:utext = "'Из низ ошибок: ' + ${pageDTO.wrongCount}">Из них ошибок:</h3>
  </font>
  </section>
</body>
</html>