<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Вопросы темы</title>
</head>
<body>
  <section>
  <h1 align="center" th:utext = "${pageDTO.themeTitle}">Название темы</h1>

  <form method="POST" th:action="@{'/teacher/themes/' + ${pageDTO.themeId} + '/questions/create'}">
      <input type="text" name="questionText" placeholder="Вопрос" autocomplete="off"><br>
      <input type="text" name="answerText" placeholder="Ответ" autocomplete="off"><br>
      <input type="hidden" name="themeId" th:value="${pageDTO.themeId}"><br>
      <button type="submit">Добавить</button>
  </form>
  <br>
  <table border="1">
      <tr>
          <th>Номер</th>
          <th>Вопрос</th>
          <th>Ответ</th>
          <th></th>
      </tr>
      <tr th:each="question : ${pageDTO.questions}">
          <td th:text="${question.id}"></td>
          <td th:text="${question.questionText}"></td>
          <td th:text="${question.answerText}"></td>
          <td>
              <form method="POST" th:action="@{'/teacher/themes/' + ${pageDTO.themeId} +'/questions/delete/' + ${question.id}}">
                  <button type="submit">Удалить</button>
              </form>
          </td>
      </tr>
  </table>
  </section>

</body>
</html>