<!DOCTYPE html>
<html lang="ru" th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Title</title>
    <style>
      body {
        text-align: center;
        color: #0F3560;
        background-color: #F3F5F7;
        font-size: x-large;
      }
      a {
        text-decoration: none;
        font-size: x-large;
        color: #0f3560;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
</head>
<body>
  <nav>
    <a th:href="@{/}">Главная</a> | 
    <a th:href="@{/teacher/students}">Ученики</a> | 
    <a th:href="@{/teacher/themes}">Темы</a> | 
    <a th:href="@{/student/test}">Тест</a>
  </nav>
  <hr>
  <br>
  <div th:replace="${content}">
  </div>
</body>
</html>
